.navbar {
  background: linear-gradient(90deg, #000000, #0f0f0f);
}

.navbar-brand {
  letter-spacing: 1px;
}

.nav-link {
  color: #ffffffcc !important;
  font-weight: 500;
  margin-right: 1rem;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #ff2c2c !important;
}

.btn-danger {
  background-color: #ff2c2c;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.btn-danger:hover {
  background-color: #ff4545;
}

.btn-outline-light:hover {
  background-color: #ffffff33;
}
